apiVersion: 1

# IMPORTANT: These datasources are provisioned before dashboards
# Ensure UIDs match dashboard references exactly

datasources:
  # Prometheus - Default datasource for metrics
  - name: Prometheus
    type: prometheus
    uid: prometheus
    orgId: 1
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "15s"
      httpMethod: POST
      manageAlerts: true
      prometheusType: Prometheus
      prometheusVersion: "2.47.0"

  # Loki - Log aggregation
  - name: Loki
    type: loki
    uid: loki
    orgId: 1
    access: proxy
    url: http://loki:3100
    editable: false
    jsonData:
      maxLines: 1000
      timeout: 60
      derivedFields:
        - datasourceUid: tempo
          matcherRegex: "trace_id[\"=:]\\s*([\\da-f]+)"
          name: TraceID
          url: "$${__value.raw}"
        - datasourceUid: tempo
          matcherRegex: "traceId[\"=:]\\s*([\\da-f]+)"
          name: TraceID
          url: "$${__value.raw}"

  # Alertmanager - Alert routing
  - name: Alertmanager
    type: alertmanager
    uid: alertmanager
    orgId: 1
    access: proxy
    url: http://alertmanager:9093
    editable: false
    jsonData:
      implementation: prometheus
      handleGrafanaManagedAlerts: true

  # Tempo - Distributed tracing
  - name: Tempo
    type: tempo
    uid: tempo
    orgId: 1
    access: proxy
    url: http://tempo:3200
    editable: false
    jsonData:
      httpMethod: GET
      serviceMap:
        datasourceUid: prometheus
      tracesToLogs:
        datasourceUid: loki
        tags:
          - trace_id
          - traceId
        mappedTags:
          - key: service.name
            value: service_name
        mapTagNamesEnabled: true
        spanStartTimeShift: -1m
        spanEndTimeShift: 1m
        filterByTraceID: true
        filterBySpanID: true
      tracesToMetrics:
        datasourceUid: prometheus
        tags:
          - key: service.name
            value: service_name
        spanStartTimeShift: -1m
        spanEndTimeShift: 1m
      nodeGraph:
        enabled: true
      search:
        hide: false
      lokiSearch:
        datasourceUid: loki
